.sign-up1 {
  margin: 0;
  height: 84px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.input-rectangle {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 7px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
}
.rectangle-group {
  position: absolute;
  top: 713px;
  left: 59px;
  width: 480px;
  height: 74px;
  z-index: 1;
}
.rectangle-group,
.rectangle-group1,
.rectangle-group2,
.sign-up-text-child {
  border: 0;
  outline: 0;
  background-color: var(--color-whitesmoke);
}
.rectangle-group1 {
  position: absolute;
  top: 415px;
  left: 59px;
  width: 480px;
  height: 74px;
  z-index: 1;
}
.rectangle-group2 {
  top: 564px;
}
.rectangle-group2,
.rectangle-group3,
.second-rectangle,
.sign-up-text-child {
  position: absolute;
  left: 59px;
  width: 480px;
  height: 74px;
  z-index: 1;
}
.rectangle-group3 {
  border: 0;
  outline: 0;
  background-color: var(--color-whitesmoke);
  top: 275px;
}
.second-rectangle,
.sign-up-text-child {
  top: 135px;
}
.second-rectangle {
  top: 827px;
  left: 197px;
  background-color: #d9d9d9;
  width: 203px;
  height: 47px;
}
.sign-up-text {
  height: 903px;
  width: 597px;
  position: absolute;
  margin: 0 !important;
  bottom: -786px;
  left: calc(50% - 298.5px);
}
.sign-up-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.sign-up,
.sign-up2 {
  position: relative;
  display: flex;
  align-items: center;
}
.sign-up2 {
  width: 197px;
  height: 47px;
  font-size: 24px;
  justify-content: center;
  flex-shrink: 0;
  white-space: nowrap;
  cursor: pointer;
  z-index: 2;
}
.sign-up {
  width: 100%;
  height: 1024px;
  background-color: #f8ae20;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 95px var(--padding-xl) 88px 105px;
  box-sizing: border-box;
  gap: 710px;
  letter-spacing: normal;
  text-align: center;
  font-size: 64px;
  color: var(--color-black);
  font-family: var(--font-jetbrains-mono);
}
@media screen and (max-width: 750px) {
  .sign-up1 {
    font-size: 51px;
  }
}
@media screen and (max-width: 450px) {
  .sign-up1 {
    font-size: 38px;
  }
  .sign-up2 {
    font-size: 19px;
  }
  .sign-up {
    gap: 355px;
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}

.container {
  position: relative;
  height: 100vh; /* Set container height to fill viewport */
}

.bottom-button {
  position: absolute;
  bottom: 20px; /* Adjust bottom position as needed */
  left: 50%; /* Place the button at the horizontal center */
  transform: translateX(-50%); /* Center the button horizontally */
}

