:root{
--color-gainsboro: #d9d9d9;
}

.container2 {
    
    align-items: center;
    height: fit-content;
    background-color: #f8ae20;
    border-radius: 10px; 
    padding: 20px;
  }


  .text-container {
    /*main white container*/
 display:flex;
 flex-direction: column;
  align-items: left;
  justify-content: center; 
    background-color:white;
    width:80.4%;
    height:80.4%;
    margin: 0;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    resize: none;

  }
  .container-col{
    /*column textbox and copy*/
    display:flex;
    justify-content: space-between;
    align-items: flex-start;

   flex: 1;
  }
  
  .text-box2 {
    align-content:center ;
    background-color: white;
    width: 80%;
    height: 80%;
    margin: 0; 
    margin-right: 5px;
    border-radius: 10px;
    padding: 5px;
    padding-left:10px;
    border: 1px solid #ddd;
    resize: none;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.1);
    
  }
  .copy-button{
    width: calc(10% - 10px); /* Take up 10% of the top container minus margin */
    margin-left: 10px; /* Add margin between elements */
    background:lightgreen;
  }

 
  
 
  .container-row{
    display: flex;
  justify-content: center;
  align-items: flex-end; /* Align items to the bottom */
  flex: 1; /* Take up remaining space */
  }

  .quiz-nameBox{
    width:100%;
  }
 
  

















  
  button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--color-gainsboro);
    border-width: 5px;
    border-color:black;
    border-style: solid;
  }
  
  button:hover {
    background-color:  #bfbfbf; 
  }
  .main-heading {
    text-align: center;
    text-decoration: wavy;

    --font-jetbrains-mono: "JetBrains Mono";
  
  }
  
  .button-container2 {
    /*bottom button container*/
    display:inline-block;
    align-items: center;
    justify-content: space-between;
    
  }