.temp-splash {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #f8ae20;
  overflow: hidden;
}

.container {
  position: relative;
  height: 100vh;
  background-color: #f8ae20;
  display: flex;
  align-items: center;
}

.icon {
  width: 524px;
  height: 462px;
  object-fit: cover;
  max-width: 100%;
  margin-right: 20px;
  /* border-color: black;
  border: 5px groove; */
}

.description {
  top: 5px;
  color: white;
  font-size: 35px;
  text-shadow: -1px 1px 0 #000000,
				  1px 1px 0 #000000,
				 1px -1px 0 #000000,
				-1px -1px 0 #000000; 
        text-align: center;
        --font-jetbrains-mono: "JetBrains Mono";
        /* font-family: var(--font-jetbrains-mono); */
        font-family: inherit;
        float: left;
}

/* Adjust button styles */
.su_btn,
.l_btn {
  background-color: #FFFFFF; 
  border: none;
  color: black;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 12px;
}
.description{
  float: left;
}
.example1{
  float: right;
}
