.temp-splash {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #f8ae20;
  overflow: hidden;
}

.description {
  top: 5px;
  color: white;
  font-size: 35px;
  text-shadow: -1px 1px 0 #000000,
				  1px 1px 0 #000000,
				 1px -1px 0 #000000,
				-1px -1px 0 #000000; 
        text-align: center;
        --font-jetbrains-mono: "JetBrains Mono";
         font-family: var(--font-jetbrains-mono); 
        font-family: inherit;
       
        
}
.description h1 {
  text-decoration-line: underline;
}
.description p {
  font-family: 'Courier New', Courier, monospace;
  color: #212529;
  text-align: left;
  text-indent: 5%;
}

.split-container {
  display: flex; /* Enable flexbox layout for splitting */
  width: 100%; /* Ensure container fills the width */
  margin:  auto; /* Center the container horizontally */
}

.description {
  flex: 1; /* Allow description to fill available space */
  padding: 1rem; /* Add some padding for better visuals */
  max-width: 50%;
  padding-left: 5%;
}

.right-content {
  display: flex; /* Allow stacking images vertically */
  flex-direction: column; /* Stack images top to bottom */
  align-items: center; /* Center images horizontally */
  /*justify-content: space-between; /* Distribute spacing between images */
  width: 50%;  /*Set width to 50% for equal split */
  margin-left: -50%;
}

.image1, .image2 {
  width:100%;
  margin: 1rem 0; /* Add some margin between images */
  
}



