<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./quiz_v_global.css" />
    <link rel="stylesheet" href="./quiz_v_index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=JetBrains Mono:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="quiz-view">
      <div class="quiz-frame">
        <div class="quiz-frame-child"></div>
        <div class="home">home</div>
      </div>
      <header class="quiz-frame1">
        <div class="quiz-frame-item"></div>
        <div class="my-quizzes">my quizzes</div>
      </header>
      <div class="quiz-frame2">
        <img class="quiz-frame-inner" alt="" src="./public/rectangle-10.svg" />

        <div class="log-out">log out</div>
      </div>
    </div>
  </body>
</html>
