.my-quizzes,
.second-frame-child {
  position: absolute;
  margin: 0 !important;
}
.second-frame-child {
  width: 480px;
  height: 100%;
  top: 0;
  bottom: 0;
  left: calc(50% - 240px);
  background-color: var(--color-orange);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.my-quizzes {
  height: 77px;
  width: 476px;
  top: calc(50% - 38.5px);
  left: 478px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.frame-within-home-child {
  height: 117px;
  width: 480px;
  position: relative;
  background-color: var(--color-orange);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.frame-within-home,
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.home {
  height: 77px;
  flex: 1;
  position: relative;
  z-index: 1;
}
.frame-within-home {
  width: 480px;
  background-color: var(--color-orange);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
  padding: 20px 1px;
}
.frame-within-home-item,
.log-out {
  flex: 1;
  position: relative;
  max-width: 100%;
}
.frame-within-home-item {
  height: 117px;
  background-color: var(--color-orange);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  cursor: pointer;
}
.log-out {
  /*height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
  margin-left: -476px;*/
  flex: 1;
  position: relative;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1;
  display: flex;
}
.frame-within-home1,
.home-frame {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-within-home1 {
  width: 480px;
  align-items: center;
  justify-content: flex-start;
}
.home-frame {
  flex: 1;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.second-frame,
.your-classes {
  position: relative;
  display: flex;
}
.second-frame {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-jetbrains-mono);
}
.your-classes {
  height: 32px;
  align-items: center;
  justify-content: center;
}
.second-frame-within-class-child {
  height: 14.7px;
  width: 113px;
  position: relative;
}
.second-frame-within-class {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.class-frame,
.first-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.class-frame {
  flex-direction: row;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
}
.first-frame {
  align-self: stretch;
  flex-direction: column;
  gap: 68px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-jetbrains-mono);
}
.recent-quizzes {
  position: relative;
}
.recent-quizzes-text-child {
  height: 14.7px;
  width: 113px;
  position: relative;
}
.recent-quizzes-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  max-width: 100%;
}
.home-w-login,
.third-frame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.third-frame {
  flex-direction: row;
  padding: 0 var(--padding-xs);
  max-width: 100%;
}
.home-w-login {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 411px;
  gap: 364px;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-jetbrains-mono);
}
@media screen and (max-width: 975px) {
  .home-frame {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  .first-frame {
    gap: 34px;
  }
  .home-w-login {
    gap: 182px;
  }
}
@media screen and (max-width: 450px) {
  .your-classes {
    font-size: var(--font-size-lgi);
  }
  .first-frame {
    gap: 17px;
  }
  .recent-quizzes {
    font-size: var(--font-size-lgi);
  }
  .home-w-login {
    gap: 91px;
  }
}
