body {
    background-color: #f8ae20;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8ae20;
    padding-left: 10%;
    padding-right: 10%;
}

.container-file {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.audio-title {
    display: flex;
    justify-content: center;
    font-size: 38px;
}

.generate-button {
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.generate-button:hover {
    background-color: #0056b3;
}