/* TextBoxComponent.css */
body{
    background-color: orange;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
  }
  
  .textbox-container {
    width: 150%;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
  }
  
  .textbox {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
  }
  
  .dropdown {
    width: calc(20% - 5px); /* 20% width with spacing between buttons */
    margin: 10px;
  }

  .multi-select {
    margin-bottom: 20px;
  }
  
  .generate-button {
    width: 20%; /* Adjust width as needed */
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff; /* Blue color for button */
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .generate-button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
  }

.checkbox-container {
    display: flex;
    flex-direction: column;
}

.checkbox {
    margin-bottom: 5px; /* Add space between checkboxes */
}
.button-box{
    border-width: 1px;
    border-style: solid;
    border-color:black;
    margin: 5px;
}

.button-container{
    display:flex;
    justify-content: center;
}
  
.container-file {
    width: 80%;
    margin: 20px auto; /* Center horizontally and add space from the top */
    padding: 20px;
    background-color: #ffffff; /* White background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow */
}
.audio-title{
    display:flex;
    justify-content:center;
    font-size: 38px;
}